---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Accueil | Mon Site Perso">
  <section style="text-align: center; padding: 2rem;">
    <h1>Bienvenue sur mon site !</h1>
    <h2>Rajdhani pour les titres</h2>
    <p>Ce texte utilise <strong>Inter Regular</strong>, une police moderne et lisible.</p>
    <p class="light-text">Ce texte est plus léger, avec Inter Light.</p>
    <a href="#contact">Me Contacter</a>
  </section>
</BaseLayout>
