---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../assets/css/global.css';

const { 
  title = "Création de Sites Vitrines Performants | Développeur Web", 
  description = "Je conçois des sites web performants et optimisés pour améliorer votre visibilité et générer plus de clients. Contactez-moi pour votre projet !", 
  lang = "fr" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="google-site-verification" content="SKngfVn1BPfrHZ5AcqiOW1m-YKnnNoeS7zYbKB9Js-0" />


    <!-- Balise canonique -->
    <link rel="canonical" href="https://guillaumewebdev.com">

    <!-- Multilingual (not for now) -->
    <link rel="alternate" hreflang="fr" href="https://guillaumewebdev.com">
    <link rel="alternate" hreflang="x-default" href="https://guillaumewebdev.com">

    <!-- WebP -->
    <link rel="icon" type="image/webp" sizes="16x16" href="/favicons/favicon-16x16.webp">
    <link rel="icon" type="image/webp" sizes="32x32" href="/favicons/favicon-32x32.webp">

    <!-- PNG -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">

    <!-- Favicon .ico -->
    <link rel="shortcut icon" href="/favicons/favicon.ico">

  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
